body {
    margin: 0px;
    height: 100%;
}

#homepage-panel
{
    position: absolute;
    width: 40%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.4);
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 20px;
    vertical-align: center;
}

canvas
{
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
}

form div
{
    padding-bottom: 20px;
}